{% extends 'base.html.twig' %}

{% block body %}
    <h1>Upload a File</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <form method="post" enctype="multipart/form-data">
        <div>
            <input type="file" name="file">
        </div>
        <div>
            <button type="submit">Upload</button>
        </div>
    </form>

    <a href="{{ path('list_files') }}">View Uploaded Files</a>
{% endblock %}
